/* .profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-container {
    position: sticky;
    top: 0;
    height: 80vh;
    width: 20%;
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
}

.content-container {
    width: 80%;
    padding-left: 20px;
} */
